
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo-section {
  display: flex;
  gap: 600px; 
  align-items: center;
  
}

.nav-section {
  display: flex;
  gap: 50px; 
  justify-content: center; 
  flex-grow: 1; 
  position: relative;
  top: 70px;
  right: 300px;
  border-bottom: 1px solid #ddd; 

  
}

.nav-section a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  
}

.icon-section {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.icon-image {
  width: 30px; 
  cursor: pointer;
}
